<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <p><strong>Hello </strong><%= user %></p>
    </div>
    <div class="card-body output mb-1" style="padding-left: 50px">

    </div>
    <div class="card-footer">

      <textarea name="name" rows="8" cols="80" style="width: 100%"></textarea> <br>
      <button type="button" name="button" id="send" class='btn btn-success' style="width: 100%">Send</button>
    </div>
  </div>
</div>
<br>
