<div class="page">
  <div class="container">
    <div class="card-body login">
      <form class="" action="/chat" method="post">
        <input type="text" name="username" value="" class='mb-2'><br>
        <button class='btn btn-primary' type="submit" name="login" value="">Enter</button>
      </form>
    </div>
  </div>
</div>
